services:
  database:
    image: mysql:9.5.0
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo
      MYSQL_USER: todo
      MYSQL_PASSWORD: todo
      TZ: 'Asia/Tokyo'
    ports:
      - ${DATABASE_PORT}:3306
    volumes:
      - todo-volume:/var/lib/mysql
      - ./docker/database/initdb.d/:/docker-entrypoint-initdb.d/

volumes:
  todo-volume:
