@import 'tailwindcss';

@plugin '@iconify/tailwind4';

@theme {
  --font-sans: 'Noto Sans JP Variable', sans-serif;
  --font-mono: 'M PLUS 1 Code Variable', monospace;
}

@layer utilities {
  body {
    overflow-y: scroll;
  }
  button {
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }

  /* スクロールバー */
  ::-webkit-scrollbar {
    height: calc(var(--spacing) * 2.5);
    width: calc(var(--spacing) * 2.5);
  }
  /* スクロールバーの背景色 */
  ::-webkit-scrollbar-track {
    background-color: var(--color-gray-200);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
  }

  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='datetime-local']::-webkit-calendar-picker-indicator,
  input[type='month']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator,
  input[type='week']::-webkit-calendar-picker-indicator,
  select {
    cursor: pointer;
  }

  .required::after {
    content: 'required';
    /* .border */
    border-style: var(--tw-border-style);
    border-width: 1px;
    /* .border-red-400/60 */
    border-color: color-mix(in oklab, var(--color-red-400) 60%, transparent);
    /* .bg-white */
    background-color: var(--color-white);
    /* .px-1 */
    padding-inline: calc(var(--spacing) * 1);
    /* .text-xs */
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    /* .text-red-400/80 */
    color: color-mix(in oklab, var(--color-red-400) 80%, transparent);
    /* .uppercase */
    text-transform: uppercase;
    /* .opacity-0 */
    opacity: 0%;
    /* .transition-opacity */
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .optional::after {
    content: 'optional';
    /* .border */
    border-style: var(--tw-border-style);
    border-width: 1px;
    /* .border-black/30 */
    border-color: color-mix(in oklab, var(--color-black) 30%, transparent);
    /* .bg-white */
    background-color: var(--color-white);
    /* .px-1 */
    padding-inline: calc(var(--spacing) * 1);
    /* .text-xs */
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    /* .text-black/50  */
    color: color-mix(in oklab, var(--color-black) /* #000 = #000000 */ 50%, transparent);
    /* .uppercase */
    text-transform: uppercase;
  }

  .focus-container:focus-within {
    .required::after {
      content: 'required';
      opacity: 100%;
    }
  }
}
